.dismount_post_game_desktop_buttons_container {
  animation: dismount_post_game_desktop_buttons_container .5s ease-in-out 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  filter: blur(0);
  justify-content: center;
  width: 100%;
}

@keyframes dismount_post_game_desktop_buttons_container
  {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(2000px);
    }
  }