.post_game_desktop_buttons_container {
  animation: onmount_post_game_buttons_container_desktop .5s ease-in-out 1;
  display: flex;
  filter: blur(0);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: calc(25px + (80 - 25) * ((100vw - 500px) / (1920 - 500)));
  width: 100%;
}