.dismount_post_game_mobile_buttons_container_landscape {
  animation: dismount_post_game_mobile_buttons_container_landscape .5s ease-in-out 1;
  filter: blur(0);
}

@keyframes dismount_post_game_mobile_buttons_container_landscape
  {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(1000px);
    }
  }

.dismount_post_game_mobile_buttons_container_portrait {
  animation: dismount_post_game_mobile_buttons_container_portrait .5s ease-in-out 1;
  filter: blur(0);
}

@keyframes dismount_post_game_mobile_buttons_container_portrait
  {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(1000px);
    }
  }