.game_mobile_wrapper_landscape {
  height: 100%;
  flex-grow: 1;
  flex-basis: auto;
}

.game_mobile_pill_landscape {
  animation: onmount_game_mobile_pill_landscape .5s ease-in-out 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto 0 auto;
  width: calc(500px + (800 - 500) * ((100vw - 568px) / (823 - 568)));
}

.game_mobile_pill_landscape_ipad {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto 0 auto;
}

.game_mobile_landscapeR1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  width: 100%;
}

.game_mobile_landscapeSR1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
  width: 65%;
}