.home_wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  /* margin-bottom:  */
  /* flex-basis: auto; */
  /* padding-bottom: calc(5px + (10 - 5) * ((100vw - 320px) / (568 - 320))); */
  /* padding-top: calc(5px + (10 - 5) * ((100vw - 320px) / (568 - 320))); */
  /* transition-property: height;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s; */
}

.home_header_wrapper {
padding-top: calc(10px + (25 - 10) * ((100vw - 320px) / (1920 - 320)));
/* padding-bottom: calc(10px + (25 - 10) * ((100vw - 320px) / (1920 - 320))); */
}

.home_header {
  animation: mount_home_header .5s ease-in-out 1;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 0.75) 90%);
  border: 2px solid white;
  border-radius: 30px 30px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8), 0 15px 15px 0 rgba(0, 0, 0, 0.8);
  margin: 0px auto 0px auto;
  padding: 0 0 0 0;
  text-align: center;
  transform: matrix3d(
    1,0,0,0.00025,
    0,1,0,0,
    0,0,1,0,
    0,0,0,1
    ) translateX(10px);
  width: calc(300px + (1000 - 300) * ((100vw - 320px) / (1920 - 320)));
}

.home_header h3, .dismount_home_header h3 {
  animation: fade_in 1s ease-in-out 1, slide_in_from_left_title_text .5s ease-in-out 1;
  color: yellow;
  font-family: "Saira Stencil One";
  font-size: calc(26px + (90 - 26) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 300;
  margin: 0 auto 0 auto;
  text-align: center;
  transform: matrix3d(
    1,0,0,0.00025,
    0,1,0,0,
    0,0,1,0,
    0,0,0,1
  ) translateX(calc(5px + (50 - 5) * ((100vw - 320px) / (1920 - 320))));
}

.start_button_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin: 0 auto 0 auto;
  padding: 10px;
  animation: fade_in .5s ease-in-out 1, slide_in_from_bottom_start_button .5s ease-in-out 1;
}

.start_button {
  animation: sway 2s ease-in-out infinite, shadow_blink 1.5s infinite;
  border: 2px solid white;
  border-radius: 30px;
  color: white !important;
  font-family: "Audiowide";
  font-size: calc(20px + (25 - 20) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 300 ;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  box-shadow: 0 0 5px 0 rgba(255, 255, 0, 0.75), 0 0 5px 0 rgba(255, 255, 0, 0.75);
  margin: 0 auto 0 auto;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  transform: matrix3d(
    1,0,0,0.0005,
    0,1,0,0,
    0,0,1,0,
    0,0,0,1
    );
  width: calc(150px + (300 - 150) * ((100vw - 320px) / (1920 - 320)));
}

.start_button:hover {
  animation: blinker_hover .1s ease-in-out 1;
  background-image: linear-gradient(rgb(255, 255, 0, 1),  rgb(212, 144, 57, 1) );
  border: 2px solid black;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
  color: rgb(0, 0, 0, 1) !important;
  cursor: pointer;
  opacity: 1;
  transform: matrix3d(
    1,0,0,0,
    0,1,0,0,
    0,0,1,0,
    0,0,0,1
  );
}

.start_button:active {
  animation: scale_out .1s ease-in-out 1, blur_out .1s ease-in-out 1;
  background-image: linear-gradient(rgb(255, 255, 0, 1),  rgb(212, 144, 57, 1) );
  border: 2px solid black;
  color: rgb(0, 0, 0, 1) !important;
  cursor: pointer;
  transition-property: color;
  transition-duration: .1s, .1s;
  transition-timing-function: ease-in-out;
}