@keyframes modal_slide_out_to_top {
  0% {
    left: 50%;
    opacity: 1;
    top: 5%;
    transform: translateX(-50%);
  }
  100% {
    left: 50%;
    opacity: 0;
    top:-100%;
    transform: translateX(-50%);
  }
}