@import '/../_globalFunctions';

@mixin modal_wrapper_props {
  left: 50%;
  min-width: 50%;
  position: fixed;
  top: 10%;
  transform: translateX(-50%);
  width: calcWidth(310, 1100, 320, 1920);
  z-index: 500;
}

.modal_wrapper {
  @include modal_wrapper_props;
  animation: modal_slide_in_from_top .3s ease-in-out 1;
}

.dismount_modal_wrapper {
  @include modal_wrapper_props;
  animation: modal_slide_out_to_top .3s ease-in-out 1;
}