.countdown_desktop_tutorial {
  animation: onmount_countdown_desktop_tutorial .5s ease-in-out 1;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid grey;
  border-radius: 0px 0px 50px 50px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8), 0 15px 15px 0 rgba(0, 0, 0, 0.8);
}

.countdown_desktop_tutorial p, .dismount_countdown_desktop_tutorial p {
  font-family: "Staatliches";
  font-size: calc(18px + (38 - 18) * ((100vw - 500px) / (1920 - 500)));
  font-weight: 300;
  color: white;
  text-align: center;
  padding: 10px;
}