.countdown_desktop_tutorial {
  animation: onmount_countdown_desktop_tutorial .5s ease-in-out 1;
  background: rgba(30, 30, 30, 1);
  border: 2px solid grey;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 1), 0px 0px 5px 5px rgba(0, 0, 0, 1) inset;
}

.countdown_desktop_tutorial p, .dismount_countdown_desktop_tutorial p {
  font-family: "Staatliches";
  font-size: calc(18px + (38 - 18) * ((100vw - 500px) / (1920 - 500)));
  font-weight: 300;
  color: white;
  text-align: center;
  padding: 10px;
}