.dismount_countdown_desktop_tutorial {
  animation: dismount_countdown_desktop_tutorial .5s ease-in-out 1;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid grey;
  border-radius: 0px 0px 50px 50px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8), 0 15px 15px 0 rgba(0, 0, 0, 0.8);
}

@keyframes dismount_countdown_desktop_tutorial {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(2000px);
  }
}