@keyframes onmount_countdown_desktop_tutorial
  {
    0% {
      transform: translateX(-2000px);
    }
  }

@keyframes dismount_countdown_desktop_tutorial
  {
    50% {
      transform: translateX(2000px);
    }
  }

@keyframes onmount_countdown_mobile_tutorial_landscape
  {
    0% {
      transform: translateX(-1000px);
    }
  }

@keyframes dismount_countdown_mobile_tutorial_landscape
  {
    50% {
      transform: translateX(1000px);
    }
  }

@keyframes onmount_countdown_mobile_tutorial_portrait
  {
    0% {
      transform: translateX(-1000px);
    }
  }

@keyframes dismount_countdown_mobile_tutorial_portrait
  {
    50% {
      transform: translateX(1000px);
    }
  }