.dismount_countdown_mobile_timer {
  align-items: center;
  align-content: center;
  animation: dismount_countdown_mobile_timer 1s ease-in-out 1;
  background-color: rgba(255,255,255, 1);
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border-radius: 0px;
  display: flex;
  color: white;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto 0 auto;
  padding: 0px;
  text-align: center;
  width: calc(300px + (600 - 300) * ((100vw - 320px) / (1920 - 320)));
}

@keyframes dismount_countdown_mobile_timer {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(2000px);
  }
}