.dismount_home_header_desktop {
  animation: dismount_home_header_desktop .5s ease-in-out 1;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 0.75) 90%);
  border: 2px solid white;
  border-radius: calc(10px + (15 - 10) * ((100vw - 500px) / (1080 - 500)));
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8), 0 15px 15px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(5px + (10 - 5) * ((100vh - 500px) / (1080 - 500)));
  margin-bottom: calc(10px + (20 - 10) * ((100vh - 500px) / (1080 - 500)));
  transform: matrix3d(
    1,0,0,0.00025,
    0,1,0,0,
    0,0,1,0,
    0,0,0,1
  ) translateX(calc(12.5px + (55 - 12.5) * ((100vw - 500px) / (1920 - 500))));
  height: calc(50px + (75 - 52) * ((100vw - 500px) / (1080 - 500)));
  width: calc(460px + (690 - 460) * ((100vw - 500px) / (1080 - 500)));
}

@keyframes dismount_home_header_desktop {
  0% {
    transform: matrix3d(
      1,0,0,0.00025,
      0,1,0,0,
      0,0,1,0,
      0,0,0,1
    ) translateX(calc(12.5px + (55 - 12.5) * ((100vw - 500px) / (1920 - 500))));
  }
  25% {
    transform: matrix3d(
      1,0,0,0.00025,
      0,1,0,0,
      0,0,1,0,
      0,0,0,1
    ) translateX(2000px);
  }
  100% {
    transform: matrix3d(
      1,0,0,0.00025,
      0,1,0,0,
      0,0,1,0,
      0,0,0,1
    ) translateX(2000px);
  }
}

.dismount_start_button_container_desktop {
  animation: dismount_start_button_container_desktop .5s ease-in-out 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes dismount_start_button_container_desktop {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(1500px);
  }
  100% {
    transform: translateX(1500px);
  }
}
