.home_header_mobile_wrapper_portrait {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: calc(40px + (100 - 40) * ((100vh - 568px) / (823 - 568)));
}

.home_header_mobile_portrait {
  animation: onmount_home_header_mobile_portrait .5s ease-in-out 1;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 0.75) 90%);
  border: 2px solid white;
  border-radius: calc(10px + (15 - 10) * ((100vh - 568px) / (823 - 568)));
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8), 0 15px 15px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: calc(2px + (4 - 2) * ((100vh - 568px) / (823 - 568)));
  margin-bottom: calc(2.5px + (5 - 2.5) * ((100vh - 568px) / (823 - 568)));
  transform: matrix3d(
    1,0,0,0.00025,
    0,1,0,0,
    0,0,1,0,
    0,0,0,1
  ) translateX(calc(5px + (10 - 5) * ((100vh - 568px) / (823 - 568))));
  height: calc(40px + (50 - 40) * ((100vh - 568px) / (823 - 568)));
  width: calc(300px + (350 - 300) * ((100vh - 568px) / (823 - 568)));
}

.home_header_mobile_portrait h1, .dismount_home_header_mobile_portrait h1 {
  color: yellow;
  font-family: "Saira Stencil One";
  font-size: calc(26px + (30 - 26) * ((100vh - 568px) / (823 - 568)));
  font-weight: 300;
  margin: 0 auto 0 auto;
  text-align: center;
  transform: matrix3d(
    1,0,0,0.00025,
    0,1,0,0,
    0,0,1,0,
    0,0,0,1
  ) translateX(calc(5px + (10 - 5) * ((100vh - 568px) / (823 - 568))));
}

.start_button_container_mobile_portrait {
  animation: onmount_start_button_container_mobile_portrait .5s ease-in-out 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto 0 auto;
}

.start_button_mobile_portrait {
  animation: sway 2s ease-in-out infinite, shadow_blink 1.5s infinite;
  border: 2px solid white;
  border-radius: 30px;
  color: white !important;
  font-family: "Audiowide";
  font-size: calc(20px + (25 - 20) * ((100vh - 568px) / (823 - 568)));
  font-weight: 300 ;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  box-shadow: 0 0 5px 0 rgba(255, 255, 0, 0.75), 0 0 5px 0 rgba(255, 255, 0, 0.75);
  margin-top: calc(10px + (20 - 10) * ((100vh - 568px) / (823 - 568)));
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  transform: matrix3d(
    1,0,0,0.0005,
    0,1,0,0,
    0,0,1,0,
    0,0,0,1
    );
  width: calc(175px + (225 - 175) * ((100vh - 568px) / (823 - 568)));
}

.start_button_mobile_portrait:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.start_button_mobile_portrait:active {
  animation: scale_out .1s ease-in-out 1;
  background-image: linear-gradient(rgb(255, 255, 0, 1),  rgb(212, 144, 57, 1) );
  border: 2px solid black;
  color: rgb(0, 0, 0, 1) !important;
  cursor: pointer;
  transition-property: color;
  transition-duration: .1s, .1s;
  transition-timing-function: ease-in-out;
}