@keyframes onmount_home_header_desktop
  {
    0% {
      transform: matrix3d(
        1,0,0,0.00025,
        0,1,0,0,
        0,0,1,0,
        0,0,0,1
      ) translateX(calc(12.5px + (55 - 12.5) * ((100vw - 500px) / (1920 - 500)))) translateY(-2000px);
    }
    100% {
      transform: matrix3d(
        1,0,0,0.00025,
        0,1,0,0,
        0,0,1,0,
        0,0,0,1
      ) translateX(calc(12.5px + (55 - 12.5) * ((100vw - 500px) / (1920 - 500)))) translateY(0px);
    }
  }

@keyframes onmount_start_button_container_desktop
  {
    0% {
      transform: translateY(1000px);
    }
    100% {
      transform: translateY(0px);
    }
  }