@keyframes onmount_home_header_mobile_landscape
  {
    0% {
      transform: translateX(-2000px);
    }
    100% {
      transform: matrix3d(
        1,0,0,0.00025,
        0,1,0,0,
        0,0,1,0,
        0,0,0,1
        ) translateX(calc(10px + (20 - 10) * ((100vw - 568px) / (823 - 568))));
    }
  }

@keyframes onmount_start_button_container_mobile_landscape
  {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0px);
    }
  }

@keyframes onmount_home_header_mobile_portrait
  {
    0% {
      transform: translateX(1000px);;
    }
  }

@keyframes onmount_start_button_container_mobile_portrait
  {
    0% {
      transform: translateX(1000px);
    }
  }