.countdown_mobile_wrapper_landscape {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: flex-start;
  transform: matrix3d(
    1,0,0,0.0,
    0,1,0,-0.0004,
    0,0,1,0,
    0,0,0,1
  );
}

.countdown_mobile_pill_landscape {
  padding-top: calc(5px + (10 - 5) * ((100vw - 568px) / (823 - 568)));
  width: calc(450px + (550 - 450) * ((100vw - 568px) / (823 - 568)));
}