@import '../../functions';

@import '../../borders';
@import '../../boxShadows';
@import '../../colors';

.loading_submit_score {
  background: $black;
  border: $default_border;
  border-radius: 5px;
  box-shadow: $default_boxShadow;
  display: flex;
  padding: 5px;
  width: 75%;
}

.loading_submit_score div {
  animation: loading_submit_score 1s cubic-bezier(1, 0, 1, 1) infinite;
  background: $yellow;
  display: inline-block;
  height: calcHeight(15, 30, 320, 1920);
  position: relative;
  width: 10px;
}

.loading_submit_score div:nth-child(1) {
  animation-delay: 0s;
}
.loading_submit_score div:nth-child(2) {
  animation-delay: -0.1s;
}
.loading_submit_score div:nth-child(3) {
  animation-delay: -0.2s;
}
.loading_submit_score div:nth-child(4) {
  animation-delay: -0.3s;
}
.loading_submit_score div:nth-child(5) {
  animation-delay: -0.4s;
}