.blank {
  opacity: 0;
  height: 0px;
}

.game_mobile_portrait{

}

.game_mobile_landscape{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto 0 auto;
  /* width: 90%; */
}

.game_mobile_counter_landscapeC1 {

}

.game_mobile_counter_landscapeC2 {

}