@import '../../../../../UI/SCSS/_globalProps';
@import '../../../../../UI/SCSS/_globalMixins';
@import '../../../../../UI/SCSS/_globalFunctions';

.fixing_redux_button {
  background: $black_gradient;
  border: $white_normal_border;
  border-radius: 0px 0px 30px 30px;
  color: $white;
  font-family: "Audiowide";
  font-size: calcSize(20, 25, 500, 1920);
  font-weight: 300;
  margin: 0px auto;
  padding: 10px;
  text-align: center;
  text-shadow: $slim_black_textShadow;
  width: 100%;

  &:focus {
    @include remove_button_outline
  }
}

.fixing_redux {
  align-content: center;
  background: $black;
  border: $grey_slim_border;
  border-radius: 5px;
  box-shadow: $small_black_boxShadow, $tiny_black_inset_boxShadow, $large_white_inset_boxShadow;
  display: flex;
  margin: 0px auto;
  padding: 5px;
  width: 75%;

  div {
    animation: fixing_redux 1s cubic-bezier(1, 0, 1, 1) infinite;
    background: $yellow;
    display: inline-block;
    height: calcSize(15, 30, 320, 1920);
    position: relative;
    width: 10px;

    &:nth-child(1) {
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation-delay: -0.1s;
    }
    &:nth-child(3) {
      animation-delay: -0.2s;
    }
    &:nth-child(4) {
      animation-delay: -0.3s;
    }
    &:nth-child(5) {
      animation-delay: -0.4s;
    }
  }
}

@keyframes fixing_redux {
  0% {
    left: 0%;
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    left: calc(100% - 60px);
    opacity: 0;
  }
}