
.fixing_redux_button {
  border: 2px solid white;
  border-radius: 0px 0px 30px 30px;
  color: white !important;
  font-family: "Audiowide";
  font-size: calc(20px + (25 - 20) * ((100vw - 500px) / (1920 - 500)));
  font-weight: 300 ;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  margin: 0 auto 0 auto;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  width: 100%;
}

.fixing_redux_button:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.fixing_redux {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
  /* justify-content: center; */
  align-content: center;
  /* align-items: center; */
  width: 75%;
  padding: 5px;
  margin: 0 auto 0 auto;
  background-color: #000;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8), 0 0 10px 0 rgba(0, 0, 0, 0.8);
}

.fixing_redux div {
  display: inline-block;
  position: relative;
  height: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
  width: 10px;
  background-color: yellow;
  animation: fixing_redux 1s cubic-bezier(1, 0, 1, 1) infinite;
}

.fixing_redux div:nth-child(1) {
  animation-delay: 0s;
}
.fixing_redux div:nth-child(2) {
  animation-delay: -0.1s;
}
.fixing_redux div:nth-child(3) {
  animation-delay: -0.2s;
}
.fixing_redux div:nth-child(4) {
  animation-delay: -0.3s;
}
.fixing_redux div:nth-child(5) {
  animation-delay: -0.4s;
}

@keyframes fixing_redux {
  0% {
    left: 0%;
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    left: calc(100% - 60px);
    opacity: 0;
  }
}