.dismount_post_game_mobile_main_menu_button_landscape {
  animation: dismount_post_game_mobile_main_menu_button_landscape 1s ease-in-out 1;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid white;
  border-radius: 30px 0px 0px 30px;
  box-shadow: 0 0 5px 0 rgba(255, 255, 0, 0.75), 0 0 5px 0 rgba(255, 255, 0, 0.75);
  color: white !important;
  font-family: 'Audiowide';
  font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 300;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  transform: matrix3d(
    1,0,0,0.0005,
    0,1,0,0,
    0,0,1,0,
    0,0,0,1
    );
  width: calc(150px + (300 - 150) * ((100vw - 320px) / (1920 - 320)));
}

@keyframes dismount_post_game_mobile_main_menu_button_landscape {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(-2000px);
  }
}

.dismount_post_game_mobile_play_again_button_landscape {
  animation: dismount_post_game_mobile_play_again_button_landscape 1s ease-in-out 1;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid white;
  border-radius: 0px 30px 30px 0px;
  box-shadow: 0 0 5px 0 rgba(255, 255, 0, 0.75), 0 0 5px 0 rgba(255, 255, 0, 0.75);
  color: white !important;
  font-family: "Audiowide";
  font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 300;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  transform: matrix3d(
    1,0,0,-0.0005,
    0,1,0,0,
    0,0,1,0,
    0,0,0,1
    );
  width: calc(150px + (300 - 150) * ((100vw - 320px) / (1920 - 320)));
}

@keyframes dismount_post_game_mobile_play_again_button_landscape {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(2000px);
  }
}
.dismount_post_game_mobile_main_menu_button_portrait {
  animation: dismount_post_game_mobile_main_menu_button_portrait 1s ease-in-out 1;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid white;
  border-radius: 30px 0px 0px 30px;
  box-shadow: 0 0 5px 0 rgba(255, 255, 0, 0.75), 0 0 5px 0 rgba(255, 255, 0, 0.75);
  color: white !important;
  font-family: 'Audiowide';
  font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 300;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  transform: matrix3d(
    1,0,0,0.0005,
    0,1,0,0,
    0,0,1,0,
    0,0,0,1
    );
  width: calc(150px + (300 - 150) * ((100vw - 320px) / (1920 - 320)));
}

@keyframes dismount_post_game_mobile_main_menu_button_portrait {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(-2000px);
  }
}

.dismount_post_game_mobile_play_again_button_portrait {
  animation: dismount_post_game_mobile_play_again_button_portrait 1s ease-in-out 1;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid white;
  border-radius: 0px 30px 30px 0px;
  box-shadow: 0 0 5px 0 rgba(255, 255, 0, 0.75), 0 0 5px 0 rgba(255, 255, 0, 0.75);
  color: white !important;
  font-family: "Audiowide";
  font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 300;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  transform: matrix3d(
    1,0,0,-0.0005,
    0,1,0,0,
    0,0,1,0,
    0,0,0,1
    );
  width: calc(150px + (300 - 150) * ((100vw - 320px) / (1920 - 320)));
}

@keyframes dismount_post_game_mobile_play_again_button_portrait {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(2000px);
  }
}