.post_game_mobile_container_portrait, .dismount_post_game_mobile_container_portrait {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-around;
  margin-top: -30px;
  width: 100%;
}