.post_game_mobile_container_landscape, .dismount_post_game_mobile_container_landscape {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 100%;
}