.post_game_mobile_container_portrait, .dismount_post_game_mobile_container_portrait {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
}