.post_game_desktop_container, .dismount_post_game_desktop_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  /* width: 100%; */
}