.footer_mobile_button_open_portrait {
  background: linear-gradient(rgba(255, 255, 0, 1),  rgba(212, 144, 57, 1) );
  border: 0px solid black;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
  color: black !important;
  display: flex;
  font-family: "Staatliches";
  font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (863 - 320)));
  font-weight: 300;
  height: calc(40px + (50 - 40) * ((100vw - 568px) / (823 - 568)));
  justify-content: center;
  order: 2;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  transition: border-radius, border, box-shadow, color .25s ease-in-out 0s, width .1s ease-in-out 0s;
  width: calc(100% + 1px);
  z-index: 500;
}

.footer_mobile_button_open_portrait:active {
  animation: scale_out .1s ease-in-out 1;
}

.footer_mobile_button_open_portrait:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.footer_mobile_button_closed_portrait {
  background: linear-gradient( rgba(50, 50, 50, 1) 10%,rgba(0, 0, 0, 1) 100%);
  border: 1px solid grey;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  font-family: "Staatliches";
  font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (863 - 320)));
  font-weight: 300;
  height: calc(40px + (50 - 40) * ((100vw - 568px) / (823 - 568)));
  justify-content: center;
  order: 2;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  transition: border-radius, border, box-shadow, color .25s ease-in-out 0s, width .1s ease-in-out 0s;
  width: calc(25% + 1px);
  z-index: 500;
}

.footer_mobile_button_closed_portrait:active {
  animation: scale_out .1s ease-in-out 1;
}

.footer_mobile_button_closed_portrait:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.footer_mobile_button_img_portrait {
  height: calc(25px + (30 - 25) * ((100vw - 568px) / (823 - 568)));
  width: calc(25px + (30 - 25) * ((100vw - 568px) / (823 - 568)));
}