@mixin submit_score_buttons_container_props {
  align-items: baseline;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

@mixin submit_score_desktop_buttons_container_props {
  @include submit_score_buttons_container_props;
  margin-top: calcSize(10, 50, 500, 1920);
  padding: 10px;
}

@mixin submit_score_mobile_landscape_buttons_container_props {
  @include submit_score_buttons_container_props;
  margin: 10px auto 0px auto;
  padding: 0px;
}

@mixin submit_score_mobile_portrait_buttons_container_props {
  @include submit_score_buttons_container_props;
  margin: 20px auto 0px auto;
  padding: 10px;
}

@mixin submit_score_button_props {
  background: $black_gradient;
  border: $white_normal_border;
  box-shadow: $medium_yellow_boxShadow;
  color: $white;
  font-family: 'Audiowide';
  font-weight: 300;
  text-align: center;
  text-shadow: $slim_black_textShadow;

  &:focus {
    @include remove_button_outline;
  }

  &:hover {
    animation: blinker_hover .1s ease-in-out 1;
    background: $yellow_gradient;
    border: $black_normal_border;
    box-shadow: $large_black_boxShadow;
    color: $black;
    cursor: pointer;
    transform: matrix3d(
      1,0,0,0,
      0,1,0,0,
      0,0,1,0,
      0,0,0,1
    );
  }

  &:active {
    animation: scale_out .1s ease-in-out 1;
    background: $yellow_gradient;
    border: $black_normal_border;
    color: $black;
    cursor: pointer;
    transition-property: color;
    transition-duration: .1s, .1s;
    transition-timing-function: ease-in-out;
  }
}

@mixin submit_score_desktop_button_props {
  @include submit_score_button_props;
  font-size: calcSize(15, 30, 320, 1920);
  padding: 10px;
  width: calcWidth(150, 300, 320, 1920);
}

@mixin submit_score_mobile_landscape_button_props {
  @include submit_score_button_props;
  font-size: calcSize(15, 30, 320, 1920);
  padding: 10px;
  width: calcWidth(150, 300, 320, 1920);

}

@mixin submit_score_mobile_portrait_button_props {
  @include submit_score_button_props;
  font-size: calcSize(15, 30, 320, 1920);
  padding: 10px;
  width: calcWidth(150, 300, 320, 1920);
}