.dismount_submit_score_desktop_buttons_container {
  animation: dismount_submit_score_desktop_buttons_container .5s ease-in-out 1;
  align-items: baseline;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: calc(10px + (50 - 10) * ((100vw - 500px) / (1920 - 500)));
  padding: 10px;
}

@keyframes dismount_submit_score_desktop_buttons_container
  {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(2000px);
    }
  }