.dismount_submit_score_desktop_buttons_container {
  align-items: baseline;
  align-content: center;
  animation: dismount_submit_score_desktop_buttons_container .5s ease-in-out 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 20px auto 0 auto;
  padding: 10px;
}

@keyframes dismount_submit_score_desktop_buttons_container
  {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(2000px);
    }
  }