@keyframes onmount_submit_score_mobile_buttons_landscape
  {
    0% {
      transform: translateY(2000px);
    }
    100% {
      transform: translateY(0px);
    }
  }

@keyframes onmount_submit_score_mobile_buttons_portrait
  {
    0% {
      transform: translateY(2000px);
    }
    100% {
      transform: translateY(0px);
    }
  }