.footer_desktop_logos_container, .dismount_footer_desktop_logos_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px auto;
}

.footer_mobile_logos_container_landscape {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  width: 100%;
}

.footer_mobile_logos_container_portrait, .dismount_footer_mobile_logos_container_portrait {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px auto;
  width: calc(320px + (1420 - 320) * ((100vw - 320px) / (1920 - 320)));
}
