.countdown_timer_five {
  align-items: center;
  align-content: center;
  animation: slide_in_from_left .25s ease-in-out 1, shadow_blink 1.5s infinite;
  background-color: rgba(255,255,255, 1);
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid red;
  border-radius: 0px;
  box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.8), 0 10px 10px 0 rgba(255, 0, 0, 0.8);
  display: flex;
  color: white;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto 0 auto;
  padding: 0px;
  text-align: center;
  width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

.countdown_timer_five h1 {
  animation: text_shadow_blink_red 1.5s infinite;
  align-self: center;
  color: red;
  font-family: "Audiowide";
  font-size: calc(100px + (150 - 100) * ((100vw - 500px) / (1920 - 500)));
  font-weight: 300;
  text-shadow: 0 0 10px rgb(255, 0, 0);
  padding: 0px;
}

.countdown_timer_three {
  align-items: center;
  align-content: center;
  animation: shadow_blink 1.5s infinite;
  background-color: rgba(255,255,255, 1);
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid orange;
  border-radius: 0px;
  box-shadow: 0 0 10px 0 rgba(255, 165, 0, 0.8), 0 10px 10px 0 rgba(255, 165, 0, 0.8);
  display: flex;
  color: white;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto 0 auto;
  padding: 0px;
  text-align: center;
  width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

.countdown_timer_three h1 {
  animation: text_shadow_blink_orange 1.5s infinite;
  align-self: center;
  color: orange;
  font-family: "Audiowide";
  font-size: calc(100px + (150 - 100) * ((100vw - 500px) / (1920 - 500)));
  font-weight: 300;
  text-shadow: 0 0 10px rgb(255, 0, 0);
  padding: 0px;
}

.countdown_timer_one {
  align-items: center;
  align-content: center;
  animation: shadow_blink 1.5s infinite;
  background-color: rgba(255,255,255, 1);
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid yellow;
  border-radius: 0px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 0, 0.8), 0 10px 10px 0 rgba(255, 255, 0, 0.8);
  display: flex;
  color: white;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto 0 auto;
  padding: 0px;
  text-align: center;
  width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

.countdown_timer_one h1 {
  animation: text_shadow_blink 1.5s infinite;
  align-self: center;
  color: yellow;
  font-family: "Audiowide";
  font-size: calc(100px + (150 - 100) * ((100vw - 500px) / (1920 - 500)));
  font-weight: 300;
  text-shadow: 0 0 10px rgb(255, 255, 0);
  padding: 0px;
}

.countdown_go {
  align-items: center;
  align-content: center;
  animation: shadow_blink 1.25s infinite;
  background-color: rgba(255,255,255, 1);
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid green;
  border-radius:0px;
  box-shadow: 0px 10px 20px 0px rgba(0, 128, 0, 0.75);
  display: flex;
  color: white;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto 0 auto;
  padding: 0px;
  text-align: center;
  width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

.countdown_go h1, .dismount_countdown_go h1 {
  animation: text_shadow_blink_green 1.5s infinite;
  align-self: center;
  color: green;
  font-family: "Audiowide";
  font-size: calc(100px + (150 - 100) * ((100vw - 500px) / (1920 - 500)));
  font-weight: 300;
  text-shadow: 0 0 10px rgb(255, 255, 0);
  padding: 0px;
}
