.game_mobile_counter_landscape {
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid grey;
  box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 5px;
  text-align: center;
  width: 35%;
}

.game_mobile_counter_landscape h1, .dismount_game_mobile_counter_landscape h1 {
  color: white;
  font-family: "Staatliches";
  font-size: calc(15px + (20 - 15) * ((100vw - 568px) / (823 - 568)));
  font-weight: 300;
  margin: 0 auto 0 auto;
  padding: 0px;
  text-align: center;
}

.game_mobile_counter_landscape h2, .dismount_game_mobile_counter_landscape h2 {
  animation: text_shadow_blink 2s ease-in-out infinite;
  background-color: #000;
  border-radius: 10px;
  border: 1px solid grey;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.8), 0 0px 10px 0 rgba(0, 0, 0, 0.8);
  color: yellow;
  font-family: 'Conv_digital-7.mono';
  font-size: calc(100px + (125 - 100) * ((100vw - 500px) / (1920 - 500)));
  font-weight: 300;
  padding: 0px;
  min-width: calc(100px + (200 - 100) * ((100vw - 568px) / (823 - 568)));
  margin: 0 auto 0 auto;
  text-align: center;
}