.game_mobile_counter_portrait {
  animation: slide_in_from_top .4s 1;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid grey;
  box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
  margin: 0px auto 0 auto;
  padding: 10px;
  text-align: center;
  width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

.game_mobile_counter_portrait h1, .dismount_game_mobile_counter_portrait h1 {
  animation: text_shadow_blink 2s ease-in-out infinite;
  background-color: #000;
  border-radius: 10px;
  border: 1px solid grey;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.8), 0 0px 10px 0 rgba(0, 0, 0, 0.8);
  color: yellow;
  font-family: 'Conv_digital-7.mono';
  font-size: calc(75px + (125 - 75) * ((100vw - 500px) / (1920 - 500)));
  font-weight: 300;
  padding: 0px 10px 0px 10px;
  margin: 0 auto 0 auto;
  text-align: center;
  width: calc(200px + (300 - 200) * ((100vw - 500px) / (1920 - 500)));
}

.game_mobile_counter_portrait h2, .dismount_game_mobile_counter_portrait h2 {
  color: white;
  font-family: "Staatliches";
  font-size: calc(20px + (30 - 20) * ((100vw - 500px) / (1920 - 500)));
  font-weight: 300;
  margin: 0 auto 0 auto;
  padding: 0px 10px 0px 10px;
  text-align: center;
}