$default_border: 1px solid grey;
$default_border_white: 1px solid white;
$button_activeHover_border: 0px solid black;

$start_button_hoverActive_border: 2px solid black;

$disabled_button_border: 2px solid grey;

$scoreboard_border: 2px solid grey;
$grey_slim_border: 1px solid grey;

$black_slim_border: 1px solid black;
