$default_boxShadow: 0 0 10px 0 rgba(0, 0, 0, 0.75), 0 0 10px 0 rgba(0, 0, 0, 0.75);
$default_inset_boxShadow: 0 0 1px 1px rgba(0, 0, 0, 0.75) inset;

$medium_black_boxShadow: 0 0 5px 0 rgba(255, 255, 255, 0.75);

$medium_yellow_boxShadow: 0 0 5px 0 rgba(255, 255, 0, 0.75);