$default_boxShadow: 0 0 10px 0 rgba(0, 0, 0, 0.75), 0 0 10px 0 rgba(0, 0, 0, 0.75);
$default_inset_boxShadow: 0 0 1px 1px rgba(0, 0, 0, 0.75) inset;

$scoreboard_boxShadow: 0 15px 10px rgba(0, 0, 0, 0.75);

$slim_black_inset_boxShadow: 0 0px 1px 1px rgba(0, 0, 0, 1) inset;
$slim_black_boxShadow: 0 0px 1px 1px rgba(0, 0, 0, 1);

$tiny_inset_boxShadow: 0px 0px 1px 2px rgba(0, 0, 0, 1) inset;

$small_inset_boxShadow: 0px 0px 1px 2.5px rgba(0, 0, 0, 1) inset;
$small_inset_boxShadow_reverse: 0px 0px 2.5px 1px rgba(0, 0, 0, 1) inset;

$medium_black_boxShadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
$medium_white_boxShadow: 0 0 5px 0 rgba(255, 255, 255, 0.75);
$medium_yellow_boxShadow: 0 0 5px 0 rgba(255, 255, 0, 0.75);

$small_red_boxShadow: 0px 0px 2px 2px rgba(255, 0, 0, 0.75);
$small_orange_boxShadow: 0px 0px 2px 2px rgba(255, 165, 0, 0.75);
$small_yellow_boxShadow: 0px 0px 2px 2px rgba(255, 255, 0, 0.75);
$small_green_boxShadow: 0px 0px 2px 2px rgba(0, 128, 0, 0.75);

$small_red_inset_boxShadow: 0px 0px 2px 2px rgba(255, 0, 0, 0.75) inset;
$small_orange_inset_boxShadow: 0px 0px 2px 2px rgba(255, 165, 0, 0.75) inset;
$small_yellow_inset_boxShadow: 0px 0px 2px 2px rgba(255, 255, 0, 0.75) inset;
$small_green_inset_boxShadow:  0px 0px 2px 2px rgba(0, 128, 0, 0.75) inset;

$medium_black_inset_boxShadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5) inset;

$normal_black_inset_boxShadow: 0px 0px 5px 5px rgba(0, 0, 0, 1) inset;

$large_black_boxShadow: 0 10px 15px rgba(0, 0, 0, 1);