$button_activeHover_textShadow: 1px 1px 2px $black;

$slim_white_textShadow: 1px 1px 2px $white;
$small_white_textShadow: 0px 0px 2.5px $white;
$medium_white_textShadow: 0px 0px 5px $white;
$large_white_textShadow: 0px 0px 10px $white;

$slim_black_textShadow: 1px 1px 2px $black;
$small_black_textShadow: 0px 0px 2.5px $black;
$medium_black_textShadow: 0px 0px 5px $black;
$large_black_textShadow: 0px 0px 10px $black;

$slim_red_textShadow: 1px 1px 2px $red;
$small_red_textShadow: 0px 0px 2.5px $red;
$medium_red_textShadow: 0px 0px 5px $red;
$large_red_textShadow: 0px 0px 10px $red;

$slim_orange_textShadow: 1px 1px 2px $orange;
$small_orange_textShadow: 0px 0px 2.5px $orange;
$medium_orange_textShadow: 0px 0px 5px $orange;
$large_orange_textShadow: 0px 0px 10px $orange;

$slim_yellow_textShadow: 1px 1px 2px $yellow;
$small_yellow_textShadow: 0px 0px 2.5px $yellow;
$medium_yellow_textShadow: 0px 0px 5px $yellow;
$large_yellow_textShadow: 0px 0px 10px $yellow;

$slim_green_textShadow: 1px 1px 2px $green;
$small_green_textShadow: 0px 0px 2.5px $green;
$medium_green_textShadow: 0px 0px 5px $green;
$large_green_textShadow: 0px 0px 10px $green;