$button_activeHover_textShadow: 1px 1px 2px $black;

$slim_black_textShadow: 1px 1px 2px $black;

$large_red_textShadow: 0 0 10px rgba(255, 0, 0, 1);

$large_orange_textShadow: 0 0 10px rgba(255, 0, 0, 1);

$large_yellow_textShadow: 0 0 10px rgba(255, 255, 0, 1);

$large_green_textShadow: 0 0 10px rgba(0, 128, 0, 1);