.dismount_home_header_mobile_landscape {
  animation: dismount_home_header_mobile_landscape .5s ease-in-out 1;
  align-items: center;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 90%);
  border: 1px solid white;
  border-radius: calc(10px + (15 - 10) * ((100vw - 568px) / (823 - 568)));
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8), 0 15px 15px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: calc(40px + (50 - 40) * ((100vw - 568px) / (823 - 568)));
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(2.5px + (5 - 2.5) * ((100vh - 320px) / (411 - 320)));
  margin-bottom: calc(5px + (7.5 - 5) * ((100vh - 320px) / (411 - 320)));
  transform: matrix3d(
    1,0,0,0.00025,
    0,1,0,0,
    0,0,1,0,
    0,0,0,1
  ) translateX(calc(10px + (20 - 10) * ((100vw - 568px) / (823 - 568))));
  width: calc(400px + (550 - 400) * ((100vw - 568px) / (823 - 568)));
}

@keyframes dismount_home_header_mobile_landscape {
  0% {
    transform: matrix3d(
      1,0,0,0.00025,
      0,1,0,0,
      0,0,1,0,
      0,0,0,1
    ) translateX(calc(10px + (20 - 10) * ((100vw - 568px) / (823 - 568))));
    width: calc(400px + (550 - 400) * ((100vw - 568px) / (823 - 568)));
    margin-top: calc(2.5px + (5 - 2.5) * ((100vh - 320px) / (411 - 320)));
  }
  25% {
    transform: matrix3d(
      1,0,0,0.00025,
      0,1,0,0,
      0,0,1,0,
      0,0,0,1
    ) translateX(2000px);
    width: calc(400px + (550 - 400) * ((100vw - 568px) / (823 - 568)));
    margin-top: calc(2.5px + (5 - 2.5) * ((100vh - 320px) / (411 - 320)));
  }
  100% {
    transform: matrix3d(
      1,0,0,0.00025,
      0,1,0,0,
      0,0,1,0,
      0,0,0,1
    ) translateX(2000px);
    margin-top: calc(2.5px + (5 - 2.5) * ((100vh - 320px) / (411 - 320)));
  }
}

.dismount_home_header_mobile_portrait {
  animation: dismount_home_header_mobile_portrait .5s ease-in-out 1;
  align-items: center;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 90%);
  border: 1px solid white;
  border-radius: calc(10px + (15 - 10) * ((100vh - 568px) / (823 - 568)));
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8), 0 15px 15px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: calc(40px + (50 - 40) * ((100vh - 568px) / (823 - 568)));
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(2px + (4 - 2) * ((100vh - 568px) / (823 - 568)));
  margin-bottom: calc(2.5px + (5 - 2.5) * ((100vh - 568px) / (823 - 568)));
  transform: matrix3d(
    1,0,0,0.00025,
    0,1,0,0,
    0,0,1,0,
    0,0,0,1
  ) translateX(calc(5px + (10 - 5) * ((100vh - 568px) / (823 - 568))));
  width: calc(300px + (350 - 300) * ((100vh - 568px) / (823 - 568)));
}

@keyframes dismount_home_header_mobile_portrait {
  0% {
    transform: matrix3d(
      1,0,0,0.00025,
      0,1,0,0,
      0,0,1,0,
      0,0,0,1
    ) translateX(calc(5px + (10 - 5) * ((100vh - 568px) / (823 - 568))));
    margin-top: calc(2px + (4 - 2) * ((100vh - 568px) / (823 - 568)));
    width: calc(300px + (350 - 300) * ((100vh - 568px) / (823 - 568)));
  }
  25% {
    transform: matrix3d(
      1,0,0,0.00025,
      0,1,0,0,
      0,0,1,0,
      0,0,0,1
    ) translateX(1000px);
    margin-top: calc(2px + (4 - 2) * ((100vh - 568px) / (823 - 568)));
    width: calc(300px + (350 - 300) * ((100vh - 568px) / (823 - 568)));
  }
  100% {
    transform: matrix3d(
      1,0,0,0.00025,
      0,1,0,0,
      0,0,1,0,
      0,0,0,1
    ) translateX(1000px);
    margin-top: calc(2px + (4 - 2) * ((100vh - 568px) / (823 - 568)));
    width: calc(300px + (350 - 300) * ((100vh - 568px) / (823 - 568)));
  }
}