.loading_home_container {
  min-height: 50vh !important;
  width: 80% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* .loading_scoreboard_header {
  width: 100%;
  padding: 10px 0px 10px 0px;
  animation: loading_pulse 2s linear infinite;
  z-index:8;
}

.loading_scoreboard_header h3 {
  font-family: 'Lato', sans-serif !important;
  font-size: 25pt !important;
  font-weight: 300 !important;
}

.loading_scoreboard_animation_container {
  margin: 0px auto 0px auto !important;
  animation: loading_pulse 1.2s ease-in-out infinite !important;
} */