.logo_rectangle_desktop {
  height: auto;
  max-width: 100%;
  max-height: calc(22px + (40 - 22) * ((100vw - 320px) / (1920 - 320)));
}

.logo_rectangle_mobile_landscape {
  margin: 0 auto 0 auto;
  max-height: calc(20px + (40 - 20) * ((100vw - 320px) / (863 - 320)));
  width: auto;
}

.logo_rectangle_mobile_portrait {
  height: auto;
  max-height: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
  max-width: 100%;
}