.scoreboard_table_mobile_landscape {
  animation: onmount_scoreboard_mobile_landscape .5s ease-in-out 1;
  align-content: center;
  align-items: center;
  background: linear-gradient( rgba(50, 50, 50, 1) 10%,rgba(5, 5, 5, 1) 100%);
  border: 2px solid grey;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 0 auto 0 auto;
  max-height: calc(195px + (260 - 195) * ((100vh - 320px) / (411 - 320)));
  padding: 0px;
  transform: matrix3d(
    1,0,0,0.0,
    0,1,0,-0.0004,
    0,0,1,0,
    0,0,0,1
    );
  width: calc(425px + (625 - 425) * ((100vw - 568px) / (823 - 568)));
}

.scoreboard_table_mobile_post_game_landscape {
  animation: onmount_scoreboard_mobile_landscape .5s ease-in-out 1;
  align-items: center;
  align-content: center;
  background: linear-gradient( rgba(50, 50, 50, 1) 10%,rgba(5, 5, 5, 1) 100%);
  border: 2px solid grey;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  max-height: calc(200px + (400 - 200) * ((100vh - 320px) / (1080 - 320)));
  justify-content: flex-start;
  padding: 0px;
  transform: matrix3d(
    1,0,0,0.0,
    0,1,0,-0.0004,
    0,0,1,0,
    0,0,0,1
    );
  width: calc(275px + (1000 - 275) * ((100vw - 320px) / (1920 - 320)));
}

.scoreboard_header_mobile_landscape {
  display: flex;
  background: rgba(30, 30, 30, 1);
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 1) inset;
  color: white;
  width: 100%;
  z-index: 2;
}

.scoreboard_header_mobile_landscape h1 {
  font-family: "Audiowide";
  font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 300;
  margin: 0px auto 0px auto;
  padding: 2.5px 0px 2.5px 0px;
}

.scoreboard_head_row_mobile_landscape {
  align-items: center;
  align-content: center;
  background: rgb(35, 35, 35, 1);
  border: 1px solid grey;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 1) inset;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  padding: 2.5px 0px 2.5px 0px;
  width: 100%;
}

.scoreboard_head_row_mobile_landscape h1 {
  font-family: "Audiowide";
  font-size: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 300;
  text-align: center;
}

.scoreboard_head_row_mobile_landscape h1:nth-child(1) {
  opacity: 0;
  width: 10%;
}

.scoreboard_head_row_mobile_landscape h1:nth-child(2) {
  text-align: left;
  width: 40%;
}

.scoreboard_head_row_mobile_landscape h1:nth-child(3) {
  width: 35%;
}

.scoreboard_head_row_mobile_landscape h1:nth-child(4) {
  width: 15%;
}

.scoreboard_head_row_mobile_landscape h1:nth-child(5) {
  opacity: 0;
  width: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
}

.scoreboard_row_wrapper_mobile_landscape {
  overflow: visible;
  overflow-x: hidden;
  overflow-y: scroll !important;
  width: 100%;
}

 .scoreboard_row_wrapper_mobile_landscape::-webkit-scrollbar {
  width: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
}

.scoreboard_row_wrapper_mobile_landscape::-webkit-scrollbar-track {
  background: rgba(20, 20, 20, 1);
  box-shadow: 0px 0px 2.5px 1px rgba(0, 0, 0, 1) inset;
  opacity: 1 !important;
}

.scoreboard_row_wrapper_mobile_landscape::-webkit-scrollbar-thumb {
  background: rgba(35, 35, 35, 1);
  opacity: 1 !important;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 0px 0px 5px 2.5px rgba(0, 0, 0, 0.5) inset;
}

.scoreboard_row_wrapper_mobile_landscape::-webkit-scrollbar-thumb:hover, .scoreboard_row_wrapper_mobile_landscape::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 0, 1);
  border: 1px solid black;
}

.scoreboard_row_wrapper_mobile_landscape::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(../assets/scoreboard/scrollbar_arrow_up.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
}

.scoreboard_row_wrapper_mobile_landscape::-webkit-scrollbar-button:vertical:increment {
  background-image: url(../assets/scoreboard/scrollbar_arrow_down.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
}