@keyframes onmount_scoreboard_mobile_landscape
  {
    0% {
      transform: matrix3d(
        1,0,0,0.0,
        0,1,0,-0.0000,
        0,0,1,0,
        0,0,0,1
      ) translateX(-1500px);
    }
    100% {
      transform: matrix3d(
        1,0,0,0.0,
        0,1,0,-0.0004,
        0,0,1,0,
        0,0,0,1
      );
    }
  }

@keyframes onmount_scoreboard_mobile_portrait
  {
    0% {
      transform: matrix3d(
        1,0,0,0.0,
        0,1,0,-0.0000,
        0,0,1,0,
        0,0,0,1
      ) translateY(2000px);
    }
  }