.start_button_container_mobile_landscape {
  animation: onmount_start_button_container_mobile_landscape .6s ease-in-out 1;
  align-items: center;
  display: flex;
  justify-content: center;
  filter: blur(0);
}

.start_button_mobile_landscape {
  animation: start_button_sway 2s ease-in-out .25s infinite, shadow_blink 1.5s ease-in-out infinite;
  background: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid white;
  border-radius: 30px;
  box-shadow: 0 0 5px 0 rgba(255, 255, 0, 0.75), 0 0 5px 0 rgba(255, 255, 0, 0.75);
  filter: blur(0);
  color: white !important;
  font-family: "Audiowide";
  font-size: calc(20px + (25 - 20) * ((100vw - 568px) / (823 - 568)));
  font-weight: 300 ;
  padding: 10px;
  text-shadow: 1px 1px 2px #000;
  transition-property: color, border;
  transition-duration: .1s, .1s;
  transition-timing-function: ease-in-out;
  width: calc(175px + (225 - 175) * ((100vw - 568px) / (823 - 568)));
}

.start_button_mobile_landscape:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.start_button_mobile_landscape:active {
  animation: scale_out .1s ease-in-out 1;
  background: linear-gradient(rgb(255, 255, 0, 1),  rgb(212, 144, 57, 1) );
  border: 2px solid black;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
  color: black !important;
  cursor: pointer;
}

.start_button_disabled_mobile_landscape {
  background: linear-gradient( rgb(100, 100, 100, 1) 10%,rgb(50, 50, 50, 1) 100%);
  border: 2px solid grey;
  border-radius: 30px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75), 0 0 5px 0 rgba(0, 0, 0, 0.75);
  color: grey !important;
  filter: blur(1.5px);
  font-family: "Audiowide";
  font-size: calc(20px + (25 - 20) * ((100vw - 568px) / (823 - 568)));
  font-weight: 300 ;
  padding: 10px;
  text-shadow: 1px 1px 2px #000;
  width: calc(175px + (225 - 175) * ((100vw - 568px) / (823 - 568)));
}

.start_button_disabled_mobile_landscape:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.start_button_disabled_mobile_landscape span {
  padding: calc(20px + (25 - 20) * ((100vw - 568px) / (823 - 568)));
}