.dismount_footer_desktop_container {
  animation: dismount_footer_desktop_container .5s ease-in-out 1;
  padding-top: calc(20px + (40 - 20) * ((100vw - 500px) / (1920 - 500)));
  z-index: 0;
}

@keyframes dismount_footer_desktop_container
  {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(1000px);
    }
  }

.dismount_footer_mobile_container_landscape {
  animation: dismount_footer_mobile_container_landscape .5s ease-in-out 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  height: 100vh;
  left: 0px;
  margin-left: 5px;
  position: fixed;
  width: calc(70px + (100 - 70) * ((100vw - 568px) / (823 - 568)));
  z-index: 500;
}

@keyframes dismount_footer_mobile_container_landscape
  {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-1000px);
    }
  }

.dismount_footer_mobile_container_portrait {
  animation: dismount_footer_mobile_container_portrait .5s ease-in-out 1;
  padding-top: calc(22px + (40 - 22) * ((100vw - 320px) / (1920 - 320)));
  z-index: 0;
}

@keyframes dismount_footer_mobile_container_portrait
  {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(1000px);
    }
  }