.footer_desktop_container {
  animation: onmount_footer_desktop_container .25s ease-in-out 1;
  /* padding-top: calc(20px + (40 - 20) * ((100vw - 500px) / (1920 - 500)));
  z-index: 0; */
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  /* height: 100vh; */
  justify-content: flex-end;
  /* left: 0px; */
  bottom: 0px;
  width: 60%;
  position: fixed;
  z-index: 500;
}

.footer_desktop_wrapper{
  animation: onmount_footer_desktop_container .25s ease-in-out 1;
  align-items: center;
  background: rgba(30, 30, 30, 1);
  border: 1px solid grey;
  /* border-style: inset; */
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: 0px;
  width: 100%;
  z-index: 499;
}

.footer_mobile_container_landscape {
  animation: onmount_footer_mobile_container_landscape .25s ease-in-out 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  height: 100vh;
  justify-content: flex-end;
  left: 0px;
  position: fixed;
  width: calc(70px + (100 - 70) * ((100vw - 568px) / (823 - 568)));
  z-index: 500;
}

.footer_mobile_wrapper_landscape{
  animation: onmount_footer_mobile_container_landscape .25s ease-in-out 1;
  align-items: center;
  background: rgba(30, 30, 30, 1);
  border: 1px solid grey;
  border-style: inset;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: 0px;
  width: 100%;
  z-index: 499;
}

.footer_mobile_container_portrait {
  animation: onmount_footer_mobile_container_portrait .25s ease-in-out 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  /* height: 100vh; */
  justify-content: flex-end;
  /* left: 0px; */
  bottom: 0px;
  width: 100vw;
  position: fixed;
  z-index: 500;
}

.footer_mobile_wrapper_portrait {
  animation: onmount_footer_mobile_container_portrait .25s ease-in-out 1;
  align-items: center;
  background: rgba(30, 30, 30, 1);
  border: 1px solid grey;
  /* border-style: inset; */
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: 0px;
  width: 100vw;
  z-index: 499;
}
