.footer_container {
  animation: slide_in_from_bottom_footer .5s ease-in-out 1;
  color: white;
  padding-top: calc(22px + (40 - 22) * ((100vw - 320px) / (1920 - 320)));
  z-index: 0;
}

.footer_wrapper {
  padding: 0px;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px auto;
  width: calc(320px + (1420 - 320) * ((100vw - 320px) / (1920 - 320)));
}

.logo_rectangle {
  max-width: 100%;
  height: auto;
  max-height: calc(22px + (40 - 22) * ((100vw - 320px) / (1920 - 320)));
}

.fine_print {
  margin-left: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
  margin-right: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
  margin-top: 10px;
  margin-bottom: 5px;
}

.fine_print_text {
  font-family: "Helvetica";
  font-size: calc(2.6px + (11 - 2.7) * ((100vw - 320px) / (1920 - 320)));
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align:center;
}


