@keyframes dismount_footer
  {
    0% {
      transform: translateY(2500px);
    }
    100% {
      transform: translateY(0px);
    }
  }

@keyframes dismount_footer
  {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(2500px);
    }
  }