@import '../../_functions';

@import '../../borders';
@import '../../boxShadows';
@import '../../_colors';

@mixin loading_scoreboard_props {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.loading_scoreboard_container {
  @include loading_scoreboard_props;
  flex-direction: column;
  height: calcHeight(275, 675, 500, 1080);
  justify-content: center;
  width: 75% !important;
}

.loading_scoreboard_container h1 {
  animation: loading_pulse 2s linear infinite;
  color: $white;
  font-family: "Staatliches";
  font-size: calcSize(20, 40, 320, 1920);
  font-weight: 300;
}

.loading_scoreboard {
  @include loading_scoreboard_props;
  background: $black;
  border: $default_border;
  border-radius: 5px;
  box-shadow: $default_boxShadow;
  flex-direction: row;
  height: 10px;
  justify-content: flex-start;
  min-height: 50px;
  width: 80%;
}

.loading_scoreboard div {
  animation: loading_scoreboard 1s cubic-bezier(1, 0, 1, 1) infinite;
  background: $yellow;
  display: inline-block;
  height: 20px;
  position: relative;
  width: 10px;
}

.loading_scoreboard div:nth-child(1) {
  animation-delay: 0s;
}
.loading_scoreboard div:nth-child(2) {
  animation-delay: -0.1s;
}
.loading_scoreboard div:nth-child(3) {
  animation-delay: -0.2s;
}
.loading_scoreboard div:nth-child(4) {
  animation-delay: -0.3s;
}
.loading_scoreboard div:nth-child(5) {
  animation-delay: -0.4s;
}