.footer_fine_print_desktop {
  margin-left: calc(5px + (10 - 5) * ((100vw - 500px) / (1920 - 500)));
  margin-right: calc(5px + (10 - 5) * ((100vw - 500px) / (1920 - 500)));
  margin-top: 10px;
  margin-bottom: 5px;
}

.footer_fine_print_desktop p {
  color: white;
  font-family: "Helvetica";
  font-size: calc(4px + (11 - 4) * ((100vw - 500px) / (1920 - 500)));
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align:center;
}