.footer_mobile_fine_print_portrait {
  margin-left: calc(5px + (10 - 5) * ((100vw - 320px) / (863 - 320)));
  margin-right: calc(5px + (10 - 5) * ((100vw - 320px) / (863 - 320)));
  margin-top: 10px;
  margin-bottom: 5px;
}

.footer_mobile_fine_print_portrait p {
  color: white;
  font-family: "Helvetica";
  font-size: calc(3px + (11 - 3) * ((100vw - 320px) / (863 - 320)));
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align:center;
}