.footer_fine_print_mobile_landscape {
  margin: 0px 5px 15px 5px;
}

.footer_fine_print_mobile_landscape p {
  color: white;
  font-family: "Helvetica";
  font-size: calc(5px + (6 - 5) * ((100vw - 320px) / (823 - 320)));
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align:center;
}