.footer_mobile_fine_print_portrait {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.75) inset;
  margin-left: calc(5px + (10 - 5) * ((100vw - 320px) / (863 - 320)));
  margin-right: calc(5px + (10 - 5) * ((100vw - 320px) / (863 - 320)));
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
}

.footer_mobile_fine_print_portrait p {
  color: white;
  font-family: "Helvetica";
  font-size: calc(3px + (11 - 3) * ((100vw - 320px) / (863 - 320)));
  margin-block-end: 0px;
  margin-block-start: 0px;
  text-align:center;
}