.footer_fine_print_mobile_portrait {
  margin-left: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
  margin-right: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
  margin-top: 10px;
  margin-bottom: 5px;
}

.footer_fine_print_mobile_portrait p {
  color: white;
  font-family: "Helvetica";
  font-size: calc(2.6px + (11 - 2.7) * ((100vw - 320px) / (1920 - 320)));
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align:center;
}