.game_mobile_timer_landscape {
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid grey;
  border-radius: 50px 50px 0px 0px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 15px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 5px;
  width: 100%;
}

.game_mobile_timer_landscape h1, .dismount_game_mobile_timer_landscape h1 {
  color: white;
  font-family: "Staatliches";
  font-size: calc(15px + (20 - 15) * ((100vw - 568px) / (823 - 568)));
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
}

.game_mobile_timer_landscape h2, .dismount_game_mobile_timer_landscape h2 {
  animation: text_shadow_blink 2.5s ease-in-out infinite;
  background-color: #000;
  border-radius: 10px;
  border: 1px solid grey;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.8), 0 0px 10px 0 rgba(0, 0, 0, 0.8);
  color: yellow;
  font-family: 'Conv_digital-7.mono';
  font-size: calc(75px + (100 - 75) * ((100vw - 568px) / (823 - 568)));
  font-weight: 300;
  margin: 0 auto;
  min-width: calc(200px + (300 - 200) * ((100vw - 568px) / (823 - 568)));
  padding: 0px 10px;
  text-align: center;
  text-shadow: 0px 0px 5px yellow;
}