@mixin submit_score_counter_props {
  background: $darkGrey;
  border-left: $grey_normal_border;
  box-shadow: $large_black_reversed_boxShadow, $small_black_inset_boxShadow;
  text-align: center;

  h1 {
    color: $white;
    font-family: 'Staatliches';
    font-weight: 300;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
  }

  h2 {
    background-color: $black;
    border-radius: 10px;
    border: $grey_slim_border;
    box-shadow: $small_black_boxShadow, $tiny_black_inset_boxShadow, $large_white_inset_boxShadow;
    color: $yellow;
    font-family: 'Conv_digital-7.mono';
    font-weight: 300;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
  }
}

@mixin submit_score_counter_desktop_props {
  @include submit_score_counter_props;
  border-right: $grey_normal_border;
  margin: 0px auto;
  padding: 10px;
  width: 100%;

  h1 {
    font-size: calcSize(20, 40, 320, 1920);
  }

  h2 {
    animation: text_shadow_blink_yellow 1.5s ease-in-out infinite;
    font-size: calcSize(75, 125, 320, 1920);
    width: calcWidth(150, 300, 320, 1920);
  }
}

@mixin submit_score_counter_mobile_landscape_props {
  @include submit_score_counter_props;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 5px;
  width: 35%;

  h1 {
    font-size: calcSize(15, 20, 568, 823);
  }

  h2 {
    animation: text_shadow_blink_yellow 1.5s ease-in-out infinite;
    font-size: calcSize(100, 125, 500, 1920);
    min-width: calcWidth(100, 200, 568, 823);
  }
}

@mixin submit_score_counter_mobile_portrait_props {
  @include submit_score_counter_props;
  border-right: $grey_normal_border;
  padding: 5px;

  h1 {
    font-size: calcSize(20, 40, 320, 1920);
  }

  h2 {
    animation: text_shadow_blink_yellow 1.5s ease-in-out infinite;
    font-size: calcSize(75, 125, 320, 1920);
    width: calcWidth(150, 300, 320, 1920);
  }
}