.submit_score_desktop_counter {
  animation: slide_in_from_top .4s 1;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
  border: 2px solid grey;
  margin: 0px auto 0 auto;
  padding: 10px 0px 5px 0px;
  text-align: center;
  width: calc(250px + (500 - 250) * ((100vw - 320px) / (1920 - 320)));
}

.submit_score_desktop_counter h1, .dismount_submit_score_desktop_counter h1 {
  animation: text_shadow_blink 2s ease-in-out infinite;
  background-color: #000;
  border-radius: 10px;
  border: 1px solid grey;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8), 0 0 10px 0 rgba(0, 0, 0, 0.8);
  color: yellow;
  font-family: 'Conv_digital-7.mono';
  font-size: calc(75px + (125 - 75) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 300;
  padding: 0px 0px 0px 0px;
  margin: 0 auto 0 auto;
  text-align: center;
  width: calc(150px + (300 - 150) * ((100vw - 320px) / (1920 - 320)));
}

.submit_score_desktop_counter h2, .dismount_submit_score_desktop_counter h2 {
  color: white;
  font-family: 'Staatliches';
  font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 300;
  margin: 0 auto 0 auto;
  padding: 0px 0px 0px 0px;
  text-align: center;
}