.dismount_submit_score_desktop_rank {
  animation: dismount_submit_score_desktop_rank 1s 1;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid grey;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
  margin: 0px auto 0 auto;
  padding: 5px 0px 5px 0px;
  text-align: center;
  width: calc(250px + (500 - 250) * ((100vw - 320px) / (1920 - 320)));
}

@keyframes dismount_submit_score_desktop_rank {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(-2000px);
  }
}

