.submit_score_error_container {
  background-color: black;
  color: yellow;
  padding: 2.5px;
}

.submit_score_error_container p {

}

.submit_score_error_button {

}

.submit_score_error_button:hover {

}

.submit_score_error_button:active {

}