.countdown_mobile_tutorial {
  animation: slide_in_from_right .25s ease-in-out 1;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid grey;
  border-radius: 0px 0px 50px 50px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8), 0 15px 15px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  color: white;
  text-align: center;
  width: calc(300px + (600 - 300) * ((100vw - 320px) / (1920 - 320)));
}

.countdown_mobile_tutorial p, .dismount_countdown_mobile_tutorial p {
  font-family: "Staatliches";
  font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 300;
  margin: 0 auto 0 auto;
  padding: 10px;
  width: 100%;
}