@mixin game_rank_props {
  background: $darkGrey;
  border-right: $grey_normal_border;
  box-shadow: $large_black_reversed_boxShadow, $small_black_inset_boxShadow;
  text-align: center;

  h1 {
    color: $white;
    font-family: "Staatliches";
    font-weight: 300;
    margin: 0 auto 0 auto;
    text-align: center;
  }

  h2 {
    animation: text_shadow_blink_yellow 1.75s ease-in-out infinite;
    background-color: $black;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: $small_black_inset_boxShadow, $tiny_black_inset_boxShadow, $medium_white_inset_boxShadow;
    color: $yellow;
    font-family: 'Conv_digital-7.mono';
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
    text-shadow: $medium_yellow_textShadow;
  }
}

@mixin game_rank_desktop_props {
  @include game_rank_props;
  border-left: $grey_normal_border;
  margin: 0px auto;
  padding: 5px 0px;
  width: calcWidth(250, 500, 320, 1920);

  h1 {
    font-size: calcSize(15, 30, 320, 1920);
  }

  h2 {
    font-size: calcSize(15, 30, 320, 1920);
    padding: 0px 0px 0px 0px;
    width: calcWidth(200, 400, 320, 1920);
  }
}

@mixin game_rank_mobile_landscape_props {
  @include game_rank_props;
  background: $darkGrey;
  border-right: $grey_normal_border;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 5px 0px;

  h1 {
    font-size: calcSize(15, 20, 568, 823);
  }

  h2 {
    font-size: calcSize(20, 30, 568, 823);
    min-width: calcWidth(250, 350, 568, 823);
  }
}

@mixin game_rank_mobile_portrait_props {
  @include game_rank_props;
  border-left: $grey_normal_border;
  padding: 10px;

  h1 {
    font-size: calcSize(20, 30, 500, 1920);
    padding: 0px 10px;
  }

  h2 {
    font-size: calcSize(23, 33, 500, 1920);
    padding: 0px 10px;
  }
}
