.footer_mobile_button_closed {
  background: linear-gradient( rgba(50, 50, 50, 1) 10%,rgba(0, 0, 0, 1) 100%);
  border: 1px solid grey;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
  color: white;
  font-family: "Staatliches";
  font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (863 - 320)));
  font-weight: 300;
  height: calc(40px + (50 - 40) * ((100vw - 568px) / (823 - 568)));
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  width: 100%;
  z-index: 500;
}

.footer_mobile_button_closed:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.footer_mobile_button_open {
  background: linear-gradient( rgba(50, 50, 50, 1) 10%,rgba(0, 0, 0, 1) 100%);
  border: 1px solid grey;
  border-radius: 0px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
  color: white;
  font-family: "Staatliches";
  font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (863 - 320)));
  font-weight: 300;
  height: calc(40px + (50 - 40) * ((100vw - 568px) / (823 - 568)));
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  width: 100%;
  z-index: 500;
}

.footer_mobile_button_open:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.footer_mobile_button_img {
  height: calc(20px + (30 - 20) * ((100vw - 568px) / (823 - 568)));
  width: calc(20px + (30 - 20) * ((100vw - 568px) / (823 - 568)));
}

.footer_mobile_button:focus {
  outline: -webkit-focus-ring-color auto 0px;
}