@mixin submit_score_wrapper_props {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
}

@mixin submit_score_pill_props {

}

@mixin submit_score_pill_mobile_props {
  @include submit_score_pill_props;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 0 auto;
}

@mixin submit_score_pill_desktop_props {

}

@mixin submit_score_pill_mobile_landscape_props {
  @include submit_score_pill_mobile_props;
  transform: matrix3d(
    1,0,0,0.0,
    0,1,0,-0.0004,
    0,0,1,0,
    0,0,0,1
  );
  width: calcWidth(525, 750, 568, 823);
}

@mixin submit_score_pill_mobile_portrait_props {
  @include submit_score_pill_mobile_props;
  transform: matrix3d(
    1,0,0,0.0,
    0,1,0,-0.0002,
    0,0,1,0,
    0,0,0,1
  );
  width: calcWidth(275, 375, 320, 411);
}

@mixin submit_score_pill_mobile_row_props {
  align-items: stretch;
  align-content: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

@mixin submit_score_pill_mobile_sub_row_props {
  align-items: stretch;
  align-content: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
}
