.dismount_submit_score_desktop_form_container {
  animation: dismount_submit_score_desktop_form_container .5s ease-in-out 1;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid grey;
  border-radius: 0px 0px 50px 50px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
  margin: 0px auto 0px auto;
  height: calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0px 0px 10px 0px;
  text-align: center;
  width: calc(250px + (500 - 250) * ((100vw - 320px) / (1920 - 320)));
}

@keyframes dismount_submit_score_desktop_form_container
  {
    50% {
      transform: translateX(2000px);
    }
  }

.dismount_submit_score_main_menu_button {
  animation: dismount_submit_score_main_menu_button .5s ease-in-out 1;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid white;
  border-radius: 30px 0px 0px 30px;
  box-shadow: 0 0 5px 0 rgba(255, 255, 0, 0.75), 0 0 5px 0 rgba(255, 255, 0, 0.75);
  color: white !important;
  font-family: 'Audiowide';
  font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 300;
  padding: 10px;
  margin-right: -5px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  transform: matrix3d(
    1,0,0,0.0005,
    0,1,0,0,
    0,0,1,0,
    0,0,0,1
    );
  width: calc(150px + (300 - 150) * ((100vw - 320px) / (1920 - 320)));
}

@keyframes dismount_submit_score_main_menu_button
  {
    50% {
      transform: translateX(2000px);
    }
  }

.dismount_submit_score_try_again_button {
  animation: dismount_submit_score_try_again_button .5s ease-in-out 1;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid white;
  border-radius: 0px 30px 30px 0px;
  box-shadow: 0 0 5px 0 rgba(255, 255, 0, 0.75), 0 0 5px 0 rgba(255, 255, 0, 0.75);
  color: white !important;
  font-family: "Audiowide";
  font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 300;
  margin-left: -5px;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  transform: matrix3d(
    1,0,0,-0.0005,
    0,1,0,0,
    0,0,1,0,
    0,0,0,1
    );
  width: calc(150px + (300 - 150) * ((100vw - 320px) / (1920 - 320)));
}

@keyframes dismount_submit_score_try_again_button
  {
    50% {
      transform: translateX(2000px);
    }
  }