.submit_score_mobile_wrapper_landscape {
  align-content: center;
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 99vh;
  justify-content: space-evenly;
 /* margin-top: calc(-8px + (10 - -8) * ((100vw - 568px) / (823 - 568))); */
  margin-top: -10px;
}

.submit_score_mobile_pill_landscape {
  animation: onmount_submit_score_mobile_pill_landscape .5s ease-in-out 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto 0 auto;
  transform: matrix3d(
    1,0,0,0.0,
    0,1,0,-0.0004,
    0,0,1,0,
    0,0,0,1
  );
  width: calc(525px + (750 - 525) * ((100vw - 568px) / (823 - 568)));
}

.submit_score_mobile_landscapeR1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  width: 100%;
}

.submit_score_mobile_landscapeSR1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
  width: 65%;
}