.submit_score_mobile_wrapper_portrait{
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.submit_score_mobile_pill_portrait {
  animation: onmount_submit_score_mobile_pill_portrait .5s ease-in-out 1;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 0 auto;
  transform: matrix3d(
    1,0,0,0.0,
    0,1,0,-0.0002,
    0,0,1,0,
    0,0,0,1
  );
  width: calc(275px + (375 - 275) * ((100vw - 320px) / (411 - 320)));
}

.submit_score_mobile_portraitR1 {
  align-items: stretch;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

.submit_score_mobile_portraitSR1 {
  align-items: stretch;
  align-content: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
  width: 100%;
}