.dismount_submit_score_mobile_pill_landscape {
  animation: dismount_submit_score_mobile_pill_landscape .5s ease-in-out 1;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 0 auto;
  transform: matrix3d(
    1,0,0,0.0,
    0,1,0,-0.0004,
    0,0,1,0,
    0,0,0,1
  );
  width: calc(500px + (800 - 500) * ((100vw - 568px) / (823 - 568)));
}

@keyframes dismount_submit_score_mobile_pill_landscape
  {
    75% {
      transform: matrix3d(
        1,0,0,0.0,
        0,1,0,-0.0004,
        0,0,1,0,
        0,0,0,1
      ) translateX(1000px);
    }
  }

.dismount_submit_score_mobile_pill_portrait {
  animation: dismount_submit_score_mobile_pill_portrait .5s ease-in-out 1;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 0 auto;
  transform: matrix3d(
    1,0,0,0.0,
    0,1,0,-0.0002,
    0,0,1,0,
    0,0,0,1
  );
  width: calc(275px + (375 - 275) * ((100vw - 320px) / (411 - 320)));
}

@keyframes dismount_submit_score_mobile_pill_portrait
  {
    75% {
      transform: matrix3d(
        1,0,0,0.0,
        0,1,0,-0.0002,
        0,0,1,0,
        0,0,0,1
      ) translateX(1000px);
    }
  }