.scoreboard_row_mobile_landscape {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  border: 1px solid grey;
}

.scoreboard_row_place_mobile_landscape {
  font-family: "Staatliches";
  font-size: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 300;
  text-align: center;
  width: 10%;
}

.scoreboard_row_name_mobile_landscape {
  font-family: "Staatliches";
  font-size: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 300;
  text-align: left;
  width: 40%;
}

.scoreboard_row_score_mobile_landscape {
  font-family: "Staatliches";
  font-size: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 300;
  text-align: center;
  width: 15%;
}

.scoreboard_row_power_mobile_landscape {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-appearance: none;
  width: 35%;
}

.scoreboard_row_power_mobile_landscape span {
  font-family: "Staatliches";
  font-size: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 300;
  margin: 0 auto 0 auto;
  text-align: center;
  width: calc(50px + (150 - 50) * ((100vw - 320px) / (1920 - 320)));

}

.scoreboard_row_power_mobile_landscape meter {
  margin: 0 auto 0 auto;
  background: none;
  box-sizing: border-box;
  height: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));;
  padding: 0 0 0 0;
  width: calc(50px + (275 - 50) * ((100vw - 320px) / (1920 - 320)));
}

.scoreboard_row_power_mobile_landscape meter::-webkit-meter-bar {
  background: #000;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.8), 0 0px 5px 0 rgba(0, 0, 0, 0.8);
}

.scoreboard_row_power_mobile_landscape meter::-webkit-meter-optimum-value {
  background-image: linear-gradient(
    90deg,
    #FFC300 0%,
    #FF5733 100%
  );
  background-size: 100% 100%;
  border-radius: 5px;
  width: 100%;
}

.scoreboard_row_power_mobile_landscape meter::-webkit-meter-suboptimum-value {
  background-image: linear-gradient(
    90deg,
    #FFC300 0%,
    #FF5733 100%,
    #7A0000 100%
  );
  background-size: 100% 100%;
  border-radius: 5px;
  width: 100%;
}

.scoreboard_row_power_mobile_landscape meter::-webkit-meter-even-less-good-value {
  background-image: linear-gradient(
    90deg,
    #107A00 0%,
    #FF5733 100%,
  );
  background-size: 100% 100%;
  border-radius: 5px;
  width: 100%;
}

.highlighted_row_mobile_landscape {
  width: 100%;
  background-image: linear-gradient(rgb(255, 255, 0, 1),  rgb(212, 144, 57, 1) );
  border: 1px solid black;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
  color: rgb(0, 0, 0, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25), 0 0 2px 0 rgba(0, 0, 0, 0.25), 0 0 2px 0 rgba(0, 0, 0, 0.25);
}

.highlighted_field_mobile_landscape {
  font-family: "Staatliches";
  font-size: calc(14px + (20 - 14) * ((100vw - 500px) / (1920 - 500)));
  font-weight: 300;
  text-align: center;
  width: 25%;
}

