.game_mobile_power_portrait {
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid grey;
  border-radius: 0px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.8), 0 10px 15px 0 rgba(0, 0, 0, 0.8);
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  /* width: 100%; */
}

.game_mobile_power_portrait h1, .dismount_game_mobile_power_portrait h1 {
  font-family: "Staatliches";
  font-size: calc(20px + (30 - 20) * ((100vw - 500px) / (1920 - 500)));
  font-weight: 300;
  color: white;
  margin: 0 auto 0 auto;
  text-align: center;
}

.game_mobile_power_portrait h2, .dismount_game_mobile_power_portrait h2 {
  animation: text_shadow_blink 2.25s ease-in-out infinite;
  background-color: #000;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.8), 0 0px 10px 0 rgba(0, 0, 0, 0.8);
  color: yellow;
  font-family: 'Conv_digital-7.mono';
  font-size: calc(40px + (60 - 40) * ((100vw - 500px) / (1920 - 500)));
  font-weight: 300;
  margin: 0 auto 0 auto;
  padding: 0px 5px 0px 5px;
  text-align: center;
  text-shadow: 0px 0px 2.5px yellow;
  width: calc(150px + (300 - 150) * ((100vw - 500px) / (1920 - 500)));
}

.game_power_bar_mobile_portrait {
  padding: 0 0 0 0;
  display: block;
  margin: 0 auto 0 auto;
  -webkit-appearance: none;
}

.game_mobile_power_bar_portrait meter {
  background: none;
  width: 75%;
  height: 25px;
  box-sizing: border-box;
  padding: 0 0 0 0;
  display: block;
  margin: 0 auto 0 auto;
}

.game_mobile_power_bar_portrait meter::-webkit-meter-bar {
  background: #000;
  border-radius: 5px;
  border: 1px solid grey;
}

.game_mobile_power_bar_portrait meter::-webkit-meter-optimum-value {
  width: 100%;
  background: linear-gradient(
    90deg,
    #FFC300 0%,
    #FF5733 100%
  );
  background-size: 100% 100%;
  border-radius: 5px;
  transition: background 1s 1s ease-in-out;
}

.game_mobile_power_bar_portrait meter::-webkit-meter-suboptimum-value {
  width: 100%;
  background: linear-gradient(
    90deg,
    #FFC300 0%,
    #FF5733 100%,
    #7A0000 100%
  );
  background-size: 100% 100%;
  border-radius: 5px;
  transition: background 1s 1s ease-in-out;
}

.game_mobile_power_bar_portrait meter::-webkit-meter-even-less-good-value {
  width: 100%;
  background: linear-gradient(
    90deg,
    #107A00 0%,
    #FF5733 100%,
  );
  background-size: 100% 100%;
  border-radius: 5px;
  transition: background 1s 1s ease-in-out;
}