.dismount_countdown_mobile_timer_landscape {
  animation: dismount_countdown_mobile_timer_landscape .5s ease-in-out 1;
  background-color: rgba(255,255,255, 1);
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
}

@keyframes dismount_countdown_mobile_timer_landscape {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(2000px);
  }
}

.dismount_countdown_mobile_timer_portrait {
  animation: dismount_countdown_mobile_timer_portrait .6s ease-in-out 1;
  background-color: rgba(255,255,255, 1);
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
}

@keyframes dismount_countdown_mobile_timer_portrait {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(-2000px);
  }
}