/* .container {
	display: flex;
	flex-direction: row | row-reverse | column | column-reverse;
	flex-wrap: nowrap | wrap | wrap-reverse;
	justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly | start | end | left | right ... + safe | unsafe;
	align-items: stretch | flex-start | flex-end | center | baseline | first baseline | last baseline | start | end | self-start | self-end + ... safe | unsafe;
	align-content: flex-start | flex-end | center | space-between | space-around | space-evenly | stretch | start | end | baseline | first baseline | last baseline + ... safe | unsafe;
} */

/* .item {
	align-self: auto | flex-start | flex-end | center | baseline | stretch;
	order: <integer>;
	flex-grow: <number>;
	flex-shrink: <number>;
	flex-basis: <length> | auto;
} */

/* .container {
	display: flex;
	flex-direction: ;
	flex-wrap: ;
	justify-content: ;
	align-items: ;
	align-content: ;
} */

/* .item {
	align-self: ;
	order: ;
	flex-grow: ;
	flex-shrink: ;
	flex-basis: ;
} */