.dismount_countdown_mobile_header_landscape {
  animation: dismount_countdown_mobile_header_landscape .5s ease-in-out 1;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid grey;
  border-radius: 50px 50px 0px 0px;
  box-shadow: 0 -10px 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
}

@keyframes dismount_countdown_mobile_header_landscape {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(2000px);
  }
}

.dismount_countdown_mobile_header_portrait {
  animation: dismount_countdown_mobile_header_portrait .5s ease-in-out 1;
  background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border: 2px solid grey;
  border-radius: 50px 50px 0px 0px;
  box-shadow: 0 -10px 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
}

@keyframes dismount_countdown_mobile_header_portrait {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateY(-2000px);
  }
  100% {
    transform: translateY(-2000px);
  }
}
