@import '../../../UI/SCSS/_globalProps';
@import '../../../UI/SCSS/_globalMixins';
@import '../../../UI/SCSS/_globalFunctions';

@import './_mixinCountdownHeader';

.countdown_desktop_header {
  @include coundown_header_desktop_props;
  animation: onmount_countdown_desktop_header .5s ease-in-out 1;
}

.dismount_countdown_desktop_header {
  @include coundown_header_desktop_props;
  animation: dismount_countdown_desktop_header .5s ease-in-out 1;
}

.countdown_mobile_header_landscape {
  @include coundown_header_mobile_landscape_props;
  animation: onmount_countdown_mobile_header_landscape .5s ease-in-out 1;
}

.dismount_countdown_mobile_header_landscape {
  @include coundown_header_mobile_landscape_props;
  animation: dismount_countdown_mobile_header_landscape .5s ease-in-out 1;
}

.countdown_mobile_header_portrait {
  @include coundown_header_mobile_portrait_props;
  animation: onmount_countdown_mobile_header_portrait .5s ease-in-out 1;
}

.dismount_countdown_mobile_header_portrait {
  @include coundown_header_mobile_portrait_props;
  animation: dismount_countdown_mobile_header_portrait .5s ease-in-out 1;
}
