.game_mobile_smash_button_portrait {
  touch-action: manipulation;
  /* background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
  border-radius: 0px 0px 50px 50px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.8), 0 10px 15px 0 rgba(0, 0, 0, 0.8); */
  margin: 0px auto 10px auto;
  text-align: center;
  width: 100%;
}

.smash_button_portrait {
  background: linear-gradient( rgba(244, 166, 66, 1) 10%, rgba(211, 143, 57, 1) 100%);
  border-top: 0px solid black;
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-radius: 0px 0px 30px 30px;
  background-image: linear-gradient( rgb(244, 166, 66, 1) 10%,rgb(211, 143, 57, 1) 100%);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.75), 0px 0px 2.5px 2.5px rgba(0, 0, 0, 0.75) inset;
  color: black;
  font-family: "Audiowide";
  font-size: calc(20px + (30 - 20) * ((100vw - 500px) / (1920 - 500)));
  font-weight: 300;
  padding: 10px;
  touch-action: manipulation;
  width: 100%;
}

.smash_button_portrait:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.smash_button_on_smash_portrait {
  touch-action: manipulation;
  background-image: linear-gradient(rgb(102, 0, 0, 1),  rgb(77, 0, 0, 1) );
  font-family: "Audiowide";
  font-size: calc(20px + (30 - 20) * ((100vw - 500px) / (1920 - 500)));
  font-weight: 300;
  color: white;
  border-radius: 0px 0px 50px 50px;
  padding: 10px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.8), 0 10px 15px 0 rgba(0, 0, 0, 0.8);
  width: 100%;
}

.smash_button_on_smash_portrait:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.smash_button_portrait:active {
  background-image: linear-gradient(rgb(102, 0, 0, 1),  rgb(77, 0, 0, 1) );
  color: white;
}